<p>Thanks!</p>
<p>Mehul - CollegeDesis</p>

<p>
  Our mission at CollegeDesis is to create the tools to help South Asian student organizations connect, collaborate, and share. We think that by doing so, we can help make the world a better place.
</p>

<p>Questions? <a href="https://collegedesis.com/#/about/contact">Contact us</a> (or reply to this email)</p>