<p>Hello</p>

<p>
Someone signed <%=@org.name%> up to host a #DesiBeatsSunday session!
</p>
<p>
You're set to host #DBS on <%=@event.date%>. If you've never hosted before, reply to this email and we'll walk you through it :)
</p>

<p>CollegeDesis</p>
<p>
  <%= link_to 'CollegeDesis', 'http://facebook.com/collegedesis' %>
</p>