<p>Hey <%= @org.name %></p>

<p>Just wanted to let you know that <%=@member.name%> joined your organization. If <%=@member.first_name%> isn't legit, reply to this email and let us know.</p>
<p>Eventually you'll be able to use our <a href="http://collegedesis.com/directory">Directory</a> to reach out all your members, keep in touch with alumni, and connect with other South Asian organizations in the area. We're even working on a way for you to easily raise money through it. To help us get there faster, tell your members to go to your <%= link_to "organization page", @org.url%> and add themselves as members</p>.

<p>Thanks</p>

<p>CollegeDesis Team</p>

<em>Our mission is to connect all the #brownkids in America</em>