<p>Hey <%= @org.name %></p>

<p>
  Just wanted to let you know that <%=@member.full_name%> signed up to post on our <a href="https://collegedesis.com/news">Bulletin Board</a> and is claiming that they're a part of your organization.
</p>

<p>
  <strong>If you don't know who <%=@member.full_name%> is, you should probably let us know.</strong>
</p>
<p>
  Our goal at CollegeDesis is to create the foundation of a meaningful community and distribute the control and power to South Asian student organizations like <%= @org.name %> all around the country. We think that by organizing this community, we can help students discover and share culture, work on meaningful projects, and in the process, make the world a better place.
</p>

<p>Rock on</p>

<p>CollegeDesis</p>