<p>Hey <%= @org.name %></p>

<p>
  Just wanted to let you know that <%=@member.full_name%> signed up to post on our <a href="https://collegedesis.com/news">Bulletin Board</a> and is claiming that they're a part of your organization.
</p>

<p>
  <strong>If you don't know who <%=@member.full_name%> is, you should probably let us know.</strong>
</p>

<%= render partial: 'email_footer' %>