<p>Hey <%= @org.name %>,</p>

<p>
  Someone updated your organization info in the CollegeDesis <%= link_to "Directory", "http://bit.ly/cd-directory" %>. Just wanted to let you know :)
</p>
  CollegeDesis Team
  <br />
  @collegedesis
</p>