<p>Hello!</p>

<p>
  Someone, (hopefully you or someone you know) added <%= @org.name %> to the CollegeDesis <%= link_to "Directory", "http://bit.ly.com/cd-directory" %>. We think this directory is one of the first steps toward creating community. The Directory is already being used to send out invitations and opportunities and we hope to use it for much more in the future.
</p>
<p>If you have any questions, feel free to reply to this email and we'll get back to you as soon as we can :)</p>
<p>In the meantime, tell your members about us. We're on <%= link_to "Facebook", "http://facebook.com/collegedesis" %> and <%= link_to "Twitter", "http://twitter.com/collegedesis" %> too!
</p>
<p>
  CollegeDesis
  <br />
  @collegedesis
</p>

<p><em>Our mission is to connect all the South Asian students in America.</em></p>