<p>Hello!</p>

<p>
  Someone, (hopefully you or someone you know) asked to add <%= @org.name %> to the CollegeDesis Directory. Now your members can sign up and promote you on <%= link_to "collegedesis.com", "https://collegedesis.com" %>!
</p>

<%= render partial: 'email_footer' %>