<p>Hello!</p>

<p>
  Someone, (hopefully you or someone you know) asked to add <%= @org.name %> to the CollegeDesis Directory. Now your members can sign up and post on the <a href="http://collegedesis.com/#/bulletins">Bulletin Board</a>.
</p>
<p>
  Our goal at CollegeDesis is to create the foundation of a meaningful community and distribute the control and power to South Asian student organizations like <%= @org.name %> all around the country. We think that by organizing this community, we can help students discover and share culture, work on meaningful projects, and in the process, make the world a better place.
</p>

<p>
  If you have any questions, feel free to reply to this email and we'll get back to you as soon as we can :)
</p>