<p>Hello</p>
<p>You're getting this email becase someone tried to email the <a href="http:/collegedesis.com">CollegeDesis Directory</a> as <%@from%>. If it wasn't you, you can hit reply and let us know, or just ignore this email.</p>
<p>Your verification code is <strong><%=@code %></strong></p>
<p>We make you verify your email address to make sure there arenn't any typos. It also helps prevent fraud.</p>
<p> Thank you for using the CollegeDesis Directory. Our mission is to connect all the #brownkids in America. This is just the first step.</p>