<section class="header">
  <h4>About</h4>
  <p class="small muted">{{#if about}}{{about}}{{else}}{{#linkTo 'users.me'}}Join{{/linkTo}} this organization to update this profile!{{/if}}</p>
</section>
{{partial 'd/member_list'}}
{{partial 'd/bulletins_list'}}