<section class="memberships">
  <h4>Registered Members</h4>
  {{#if memberships}}
    <ul>
      {{#each mem in memberships}}
        <li>
          <img class="avatar" {{bindAttr src="mem.user.avatar_url"}}>
          <h5>{{mem.user.full_name}}</h5>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="small muted">No members have registered.</p>
  {{/if}}
</section>