<p>Hey <%=@member.full_name%></p>

<p>Thanks for joining <%=@org.name%>, we sent them an email so they know.</p>

<p>
  Our goal at CollegeDesis is to create the foundation of a meaningful community and distribute the control and power to South Asian student organizations like <%= @org.name %> all around the country. We think that by organizing this community, we can help students discover and share culture, work on meaningful projects, and in the process, make the world a better place.
</p>

<p>
  Thank you for being a part of it. If you haven't checked out the <a href="https://collegedesis.com/">Bulletin Board</a>, what are you waiting for?
</p>