<p>Hey <%= @membership.user.full_name %>,</p>

<p>Just wanted to let you know that <%= @admin.full_name %> is now an Administrator of <%= @membership.organization.name %> on collegedesis.com</p>

<p>If you think this a mistake, reply to this email!</p>

<p>PS, We're trying to reduce the amount of email we send you, but don't have a way for you to switch off these notifications yet. If these are getting annoying, can you just hit reply and let us know and we'll fix this for you?</p>

<%= render partial: 'email_footer' %>