<p>
  Thanks for purchasing <%=@product.name %>! 
  <% if @beneficiary %>
  <%= link_to @beneficiary.name, @beneficiary.url %> has been notified of your contribution!
  <% end %>
</p>

<p> Keep this email as a receipt in case either one of us has technical problems. Your code is:
  <b>
    <% if @purchase.download_code %>
      <%= @purchase.download_code %>
    <% else %>
      Uh Oh, not found. Can you please tell us about this error.
    <% end %>
  </b>
</p>
<p>Thanks, </p>

<p>CollegeDesis Team</p>