<p>Hey <%=@user.full_name%>,</p>

<p>Your application to <%=@org.name%> to be <%= @app.application_type %> was not approved. If this was a mistake, please get in touch with <%= @org.name %>!</p>

<p>If you have any questions, feel free to reply to this email!</p>

<p>Thanks,</p>
<p>CollegeDesis Team</p>