<p>Hey <%=@member.name%></p>

<p>Thanks for joining <%=@org.name%>, we sent them an email so they know.</p>

<p>Eventually we want to you to be able to use our <a href="http://collegedesis.com/directory">Directory</a> to reach out to all your members, keep in touch when you graduate, and connect with other South Asian students around the country. We're even working on a way to help <%=@org.name%> raise money through it. 

<p>Thanks</p>

<p>CollegeDesis Team</p>

<em>Our mission is to connect all the #brownkids in America</em>