<p>Hey <%=@user.full_name%></p>

<p>Thanks for signing up for <a href="https://collegedesis.com">collegedesis.com</a>!</p>

<p>
  Represent your organization by adding a membership from your <a href="https://collegedesis.com/#/users/me">profile page</a>!
</p>

<p>
  If you forget your password, just send us an email at <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a> and we'll help you take care of it.
</p>

<%= render partial: 'email_footer' %>