.page-header 
  - if @download_url
    %h2 Thank You!
  - else
    %h2 Sorry!

#store
  - if @download_url
    %section.left
      %p 
        Thanks for purchasing
        = @purchase.product.name
        ! Your download should begin automatically. This purchase expires as soon as you navigate away from this page or in 30 minutes, whichever comes first. 
    %section.right
      #download
        %iframe{src: @download_url}

  - else
    %section.left
      - if !@purchase
        %p This doesn't seem like a valid purchase. 
      - elsif @purchase.expired?
        %p It looks like this download code has already been used.
    %section.right
%h4 Need help?
%p 
  Email
  = mail_to "brownkids@collegedesis.com"
  or visit 
  = link_to "the store", products_path
  \.