<section class="activity">
  <h4>Posted Bulletins</h4>
  {{#if bulletins}}
    <ul>
      {{#each bulletin in bulletins}}
      <li>{{#linkTo 'news.story' bulletin}}{{bulletin.title}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  {{else}}
    {{name}} has not posted anything yet.
  {{/if}}
  {{#if currentUserIsMember}}
    <div class="cta">{{#linkTo 'bulletins.new'}}Post{{/linkTo}}</div>
  {{/if}}
</section>