<section class="activity">
  <h4>Posted Bulletins</h4>
  {{#if bulletins}}
    <ul>
      {{#each bulletin in bulletins}}
        <li><a {{bindAttr href="bulletin.shortened_url"}}>{{bulletin.title}}</a></li>
      {{/each}}
    </ul>
  {{else}}
    {{#if currentUserIsMember}}
      <div class="cta">{{#linkTo 'bulletins.new'}}Post{{/linkTo}}</div>
    {{/if}}
  {{/if}}
</section>