<section class="links">
  <ul>
    {{#if twitter}}<li><a target="_blank" {{bindAttr href="twitterUrl"}}>Twitter</a></li>{{/if}}
    {{#if facebook}}<li><a target="_blank" {{bindAttr href="facebookUrl"}}>Facebook</a></li>{{/if}}
    {{#if website}}<li><a target="_blank" {{bindAttr href="websiteUrl"}}>Website</a></li>{{/if}}
    {{#if youtube}}<li><a target="_blank" {{bindAttr href="youtubeUrl"}}>YouTube</a></li>{{/if}}
  </ul>
</section>