<aside>
  {{partial 'organizations/show_sidebar'}}
  {{#if isDirty}}
    <button {{action save target="controllers.organizationsShow"}}>Save</button>
  {{/if}}
  {{#linkTo 'organizations.show' this}}Back{{/linkTo}}
</aside>
<div class="main">
  {{partial 'organizations/admin_show'}}
</div>