<aside>
  {{partial 'organizations/show_sidebar'}}
  {{#if isDirty}}
    <button class="cta" {{action save}}>Save</button>
  {{/if}}
  {{#if errors}}
    {{#each msg in errors}}
      <p style="color: red;">{{msg}}</p>
    {{/each}}
  {{/if}}
  {{#linkTo 'organizations.show' this}}Back{{/linkTo}}
</aside>
<div class="main">
  {{partial 'organizations/admin_show'}}
</div>