<h3>Introduction</h3>

<p>
  The News Board helps members and alumni of {{numOfOrganizations}} South Asian organizations share their thoughts, events, and accomplishments.
</p>
<p>
  <strong>Here's how:</strong>
</p>

<ol>
  <li>Share a link or write a blog post</li>
  <li>Get fellow members to vote it up</li>
  <li>We'll promote it to our national community</li>
</ol>

<p>
  {{#linkTo 'bulletins.new' tagName="button" classNames="cta"}}Post{{/linkTo}}
</p>
<p>
  &larr; Or browse!
</p>