<h3>About Our News</h3>
<p>The stories on our news board are submitted by members of any of the {{numOfOrganizations}} South Asian student organizations in America.</p>
<p>If you're a member or alum of one of these organizations, you can post links or write blog posts here!</p>
<p>{{#linkTo 'bulletins.new' tagName="button" classNames="cta"}}Post{{/linkTo}}</p>
<p>&larr; Or explore away!</p>