<div class="bulletin-wrapper">
  <div class="title">
  {{#linkTo 'n.story' this}}
    {{title}}
  {{/linkTo}}
</div>
  <div class="subtext">
    {{#if authorIsOrganization}}
      {{#linkTo 'd.show' author}}{{author.name}}{{/linkTo}}
    {{/if}}
    {{#if authorIsUser}}{{author.full_name}}{{/if}}
  </div>
</div>