{{#if showingPreview}}
  {{partial 'n/new_post_preview'}}
{{else}}
  <h4>Title</h4>
  {{#unless title}}<span class="error">Missing title</span>{{/unless}}
  {{input value=title}}
  <h4>Body</h4>
  {{#unless body}}<span class="error">Missing body</span>{{/unless}}
  {{textarea value=body}}
{{/if}}