{{#if showingPreview}}
  <h3>No preview available for link bulletins.</h3>
{{else}}
<div class="row">
  <div class="header">Title</div>
  <div class="contents">
    {{input value=title}}
    {{#unless title}}<span class="error">Missing title</span>{{/unless}}
  </div>
</div>

<div class="row">
  <div class="header">URL</div>
  <div class="contents">
    {{input value=url placeholder="http://"}}
    {{#unless validUrl}}<span class="error">Make sure you include http or https at the beginning!</span>{{/unless}}
  </div>
</div>
{{/if}}