<hr />
<p style="font-size:10px; color:#444">
This message was sent to you by <%= sender %> via the CollegeDesis <a href="http://collegedesis.com/directory">Directory</a>. If you consider this spam, please forward this email to brownkids@collegedesis.com.
</p>