<%= @markdown.render(@body).html_safe %>

<hr />
<p style="font-size:10px; color:#444">
  This message was sent to you by <%= @sender_email %> via the CollegeDesis <a href="http://collegedesis.com/directory">Directory</a>. If you consider this spam, please forward this email to brownkids@collegedesis.com.
</p>
<hr />
<p style="font-size:8.5px;">This line above and everything below will only appear in the test email.</p>