<p>Hello</p>

<p> Your verification code is <%=@code %></p>

<p>You're getting this email becase someone tried to email the CollegeDesis Directory as <%@from%>. </p>

<p>If this wasn't you, it means there was probably some mistake. You can reply to this email and let us know, or you can just ignore this email.</p>

<p>Cheerio</p>