<div class="bulletin-wrapper">
  {{#linkTo 'news.story' this}}
    <span class="title">{{title}}</span>
    <span class="subtext">{{#linkTo 'organizations.show' author tagName="span"}}{{author.display_name}}{{/linkTo}}</span>
  {{/linkTo}}
</div>