<p>
  Title
  {{#unless title}}
    <br>
    <span class="error">Missing title</span>
  {{/unless}}
</p>
{{input value=title}}

<p>
  Url
  {{#unless validUrl}}
    <br>
    <p class="error">Make sure you include http or https at the beginning!</p>
  {{/unless}}
</p>
{{input value=url placeholder="http://"}}
