<div class="bulletin-new">
  <h2>Title</h2>
  {{view Ember.TextField valueBinding="title"}}
  <h2>Body</h2>
  {{view Ember.TextArea valueBinding="body"}}
</div>

<div class="preview">
  <h1>Preview</h1>
  <h2>{{title}}</h2>
  <div class="bulletin-body">
    {{htmlBody}}
  </div>
</div>