<div class="main">
  {{#if hasBulletins }}
    {{#each bulletin in controller}}
      <div class="bulletin"  {{action goToBulletin bulletin}}>
        <div class="preview">
          <span class="title"> {{bulletin.title}}</span>
          <span class="preview"> {{bulletin.preview}}</span>
        </div>
      </div>
    {{/each}}
  {{else}}
    No bulletins have been written. Want to {{#linkTo "bulletins.new"}}write one?{{/linkTo}}
  {{/if}}
</div>
<aside>
  <h4> About</h4>
  <p>
    Bulletins are the easiest way to spread the word among the CollegeDesis community.
  </p>
  <p> 
    Log in to comment.
  </p>
  
  <p>
    {{#linkTo "bulletins.new"}}
      Post a Bulletin
    {{/linkTo}}
  </p>
</aside>