<div class="main">
  {{#if isLink }}
    {{partial "bulletins/link_form"}}
  {{/if}}

  {{#if isPost}}
    {{partial "bulletins/post_form"}}
  {{/if}}
  <a {{action submit}}>Submit</a>
</div>
<aside>
  <h1>Control Panel</h1>
  {{view Ember.Select contentBinding="bulletinTypes" valueBinding="bulletin_type" optionLabelPath="content.name" optionValuePath="content.value"}}
</aside>