<div class="main">
  <div class="bulletin">
    <div class="bulletin-header">
      <h1>{{title}}</h1>
      <span class="date">Posted at {{humanizedCreatedAt}}</span>
    </div>
    <div class="bulletin-body"> {{htmlBody}}</div>
    <p>
      {{#linkTo "bulletins.index"}}
        &larr; Back
      {{/linkTo}}
    </p>
  </div>
</div>
<aside>
  <h4>Comments</h4>
  <p>Coming soon.</p>
</aside>