<div class="main">
  <h1>{{title}}</h1>
  <span>Posted at {{humanizedCreatedAt}}</span>
  <div class="bulletin-body"> {{body}}</div>
  <p>
    {{#linkTo "bulletins.index"}}
      &larr; Back
    {{/linkTo}}
  </p>
</div>
<aside>
  <h4>Comments</h4>
  <p>
    Disabled
  </p>
</aside>