<div class="main">
  <h1>{{title}}</h1>
  <span>Posted at {{humanizedCreatedAt}}</span>
  <div class="body"> {{body}}</div>
</div>
<aside>
  <h4>Stats</h4>
  <p>
    We'll build in like button or something here. 
  </p>
  <p>
    {{#linkTo "bulletins.index"}}
      &larr; Back
    {{/linkTo}}
  </p>
  <p>
    {{#linkTo "bulletins.new"}}
      Post a Bulletin
    {{/linkTo}}
  </p>
</aside>