<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=241796575882202";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="page-header">
  <h2>Press</h2>
</div>
<div class="press">
  <div class="share">
    <div class="fb-like" data-href="http://collegedesis.com/press" data-send="false" data-layout="button_count" data-show-faces="true"></div>
    <span class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Best of @CollegeDesis A Cappella" data-hashtags="CDACappella" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </span>
  </div>
  <h3>Best of CollegeDesis A Cappella</h3>
  <h4 class="date">November 19, 2012</h4>
  <%= image_tag("front.jpg") %>
  <%= @markdown.render(
  "
  On December 2nd, we are releasing a compilation album with tracks from seven of out of 40 South Asian A Cappella teams from all around the country.

  The digital album will be available for download at half time of an [online concert](https://www.facebook.com/events/187557014712516/) at which all 40 teams are invited to play their tracks. 

In addition to giving A Cappella teams national exposure, the album will also serve as a fundraisier to 500+ South Asian student organizations. Everyone who purchases an album will be able to name one of the organizations in our [Directory](/directory) as a beneficiary. That organization receives 30% of the sale price.

For the Hindu Student Council in Iowa, or the classical dance team in Georgia, this means quick cash for very little effort and no upfront cost. But for our community, this means that in just a few weeks, hundreds, maybe *thousands* of us will be thinking about the same thing at the same time. In the long run, we're much more interested in the latter.

"
).html_safe %>
 <%= image_tag("back.jpg", class: "left" )%>
<%= @markdown.render(
"#### Spread The Word

If you're reading this, we hope you're as excited as we are. Invite your friends to [the concert](https://www.facebook.com/events/187557014712516/). Share this note. We'll see you on December 2nd.

#### Get The Album

The album is officially on sale! Buy it [here](/store)!

#### Contact
If you'd like to write about this project or have any questions, email us at <mailto:brownkids@collegedesis.com>."

  ).html_safe %>
  <a class="btn" href="https://www.facebook.com/events/187557014712516/" target="_blank">Attend The Concert</a>
  <div>&nbsp;</div>
  <div class="center">
    <div class="fb-like" data-href="http://collegedesis.com/press" data-send="false" data-layout="button_count" data-ref="bottom" data-show-faces="true"></div>
    <span class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Best of @CollegeDesis A Cappella" data-hashtags="CDACappella" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </span>
  </div>
</div>
