<div class="main">
  <ul>
    <li>Email: <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a></li>
    <li>Facebook: <a target="_blank" href="http://facebook.com/collegedesis">facebook.com/collegedesis</a></li>
    <li>Twitter: <a target="_blank" href="http://twitter.com/collegedesis">twitter.com/collegedesis</a></li>
  </ul>
</div>