<p>If you don't hear back in a few hours, call the cops.</p>
<ul>
  <li>
    <h4>Email</h4>
    <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a>
  </li>
  <li>
    <h4>Facebook</h4>
    <a target="_blank" href="http://facebook.com/collegedesis">facebook.com/collegedesis</a>
  </li>
  <li>
    <h4>Twitter</h4>
    <a target="_blank" href="http://twitter.com/collegedesis">twitter.com/collegedesis</a>
  </li>
</ul>