<p>To Do List This Summer. Want to {{#linkTo 'about.website'}}contribute{{/linkTo}}?</p>
<ol>
  <li>
    <h4>Solidify API</h4>
    <p>We're designing an API that will collect data about South Asian organizations and their events. This includes results from competitions, notes from chapter meetings, an organizations clout in the South Asian scene, etc.</p>
  </li>
  <li>
    <h4>Radio Plugins</h4>
    <p>
      We're working on making the {{#linkTo 'radio'}}Radio{{/linkTo}} into an embeddable widget. This means turning our current Javascript implementation into a Ruby implementation of the Soundcloud API, and then creating a jQuery plugin and a Wordpress plugin that can be easily included other websites.
    </p>
  </li>
  <li>
    <h4>Better Design</h4>
    <p>We continually improve our design to make it easier for users to navigate, sign up, and post. This includes making this website usable on mobile devices, improving the user experience, and writing help content.</p>
  </li>
  <li>
    <h4>Directory</h4>
    <p>Our database holds {{controllers.application.numOfOrganizations}} organizations, but we don't have a good way to display them. We've narrowed down on either using <a href="//intridea.github.io/stately/">Stately</a> or <a href="//map.karaliki.ru/">mapSVG</a> to build a map that will help navigate these organizations and their events.</p>
  </li>
</ol>