<div class="main">
  <p>
    We believe that <span class="heading">strong</span> communities have influence, that <span class="heading">robust</span> communities are strong and that <span class="heading">connected</span> communities are robust.
  </p>

  <p>In the past, we've successfully
    <li>launched a collaborative <a target="_blank" target="_blank" href="//itunes.apple.com/us/album/best-of-south-asian-a-cappella/id609757272">a cappella album</a>,</li>
    <li>organized <a href="#/bulletins/solidarity-against-injustice-a-south-asian-greek-collaboration">a campaign</a> against sexual violence,</li>
    <li>and thrown a mean <a target="_blank" href="//facebook.com/events/333986576686181/">party</a></li>

  </p>
  <p>
    If you're part of a student organization or an event manager, check out <a href="#/bulletins/welcome-to-the-bulletin-board">how you can use the Bulletin Board</a> for publicity.
  </p>
</div>