<p>
  Our mission is to build tools to help South Asian organizations collaborate and share. We think that in the process of doing so, we can make the world a better place.
</p>

<h3>Connect</h3>
<ol>
  <li>
    <h4>Map</h4>
    <p>Coming soon</p>
  </li>
  <li>
    <h4>Chat</h4>
    <p>Coming soon</p>
  </li>
</ol>

<h3>Collaborate</h3>
<ol>
  <li>
    <h4><a target="_blank" href="https://collegedesis.com/#/news/best-of-collegedesis-a-cappella">Best of South Asian A Cappella Album</a></h4>
    <p>In 2012, we selected 13 tracks from 7 out of almost 50 South Asian collegiate a cappella teams to release a "Best Of" album.</p>
  </li>
  <li>
    <h4><a href="https://collegedesis.com/#/news/solidarity-against-injustice-a-south-asian-greek-collaboration">Solidarity Against Injustice</a></h4>
    <p>In 2012, we worked with 6 of the largest South Asian greek organizations to start the conversation about the sexual violence.</p>
  </li>
  <li>
    <h4>Fundraising</h4>
    <p>Coming soon, shhh.</p>
  </li>
</ol>

<h3>Share</h3>
<ol>
  <li>
    <h4>{{#linkTo 'news'}}News Board{{/linkTo}}</h4>
    <p>The News Board allows members of any South Asian student organization post links, promote events, or write blog posts. The goal is to create a national dialogue amongst college desis on topics of interest</p>
  </li>
  <li>
    <h4>{{#linkTo 'radio'}}Radio{{/linkTo}}</h4>
    <p>A cappella teams, independent musicians, and dance teams can share their music and mixes.</p>
  </li>
</ol>