<h4>Mission</h4>
<p>
  Our goal at CollegeDesis is to build tools to help South Asian organizations connect, collaborate, and share.
</p>
<h4>Tools</h4>
<ol>
  <li>

    Members of the {{controllers.application.numOfOrganizations}} South Asian organizations in our Directory can earn reputation by sharing links or writing articles on the {{#linkTo 'index'}}Bulletin Board{{/linkTo}}.</li>
  <li>
    A cappella teams, independent musicians, and dance teams can share their music and mixes on our {{#linkTo 'radio'}}Radio{{/linkTo}}.
  </li>
  <li>
    We're working on partnerships to help organizations fundraise.
  </li>
  <li>
    And lastly, we're making all our data about organizations and events accessible for you to use.
  </li>
</ol>

<h4>Vision</h4>
<p>Our vision is to create large scale imapct on the world by organizing a strong, robust, and connected community.</p>

<h4>So Far</h4>
<p>In the past, we've successfully
  <ol>
    <li>launched a collaborative <a target="_blank" target="_blank" href="//itunes.apple.com/us/album/best-of-south-asian-a-cappella/id609757272">a cappella album</a>,</li>
    <li>organized <a href="#/bulletins/solidarity-against-injustice-a-south-asian-greek-collaboration">a campaign</a> against sexual violence,</li>
    <li>and thrown a mean <a target="_blank" href="//facebook.com/events/333986576686181/">party</a></li>
  </ol>
</p>