<h3>News Board</h3>
<p>
  Use our News board to
  <ol>
    <li>Share current events or articles</li>
    <li>Start conversations</li>
    <li>Make announcements</li>
  </ol>
</p>

<h3>Promote</h3>

<p>Every hour, we'll promote the top posts (determined by <a href="//github.com/collegedesis/collegedesis.com">special algorithm</a>) to social networks!</p>