<h3>Quick Start</h3>

<ol>
  <li>{{#linkTo 'users.new'}}Sign Up{{/linkTo}}</li>
  <li>Add a membership to one of {{controllers.application.numOfOrganizations}} organizations from our {{#linkTo 'directory'}}Directory{{/linkTo}}</li>
  <li>Post, comment, vote on the {{#linkTo about.news}}News Board{{/linkTo}}</li>
</ol>