<h3>Quick Start</h3>

<ol>
  <li>{{#linkTo 'users.new'}}Sign Up{{/linkTo}}</li>
  <li>Add a membership to one of our {{controllers.application.numOfOrganizations}} organizations</li>
  <li>Post, comment, vote on the {{#linkTo about.news}}News Board{{/linkTo}}</li>
</ol>

<h3>How Membership Works</h3>

<p>Our membership system allows South Asian organizations and their members all over the country to start national conversations and share their thoughts and accomplishments either as a group or as individuals.</p>