<h3>Represent Your Organization/Team</h3>

<p>When you register a membership to the Indian Students Association from University of Timbuctoo, you'll have the option to <strong>author posts as Indian Students Association</strong>.</p>
<p>
  That means you don't have to manage multiple accounts or remember passwords or make new accounts when your President graduates and forgets to transfer the account to you!
</p>

<p>
  Just {{#linkTo users.new}}sign up{{/linkTo}} and add memberships from your profile page!
</p>