<div class="main">
  <p>This website is built on the most popular technologies of the startup world. If you're a programmer or a designer and are looking to build up your skills this summer, help us out by <a target="_blank" href="//github.com/collegedesis/collegedesis.com#contributing">contributing</a>!</p>

  <p><a href="//github.com/collegedesis/collegedesis.com">Our codebase</a> is completely open sourced. If you're already familiar with the technologies, check out the upcoming features, and <a href="//github.com/collegedesis/collegedesis.com/issues">issues on Github</a>. If not, get started with Git, Github and Rails and {{#linkTo 'about.contact'}}contact us{{/linkTo}} for a code walkthrough!</p>

  <p>The Technology</p>
  <ol>
    <li>
      <h4>Ruby on Rails</h4>
      <p><a target="_blank" href="//rubyonrails.org">Ruby on Rails</a> is a framework built on Ruby and is optimized for web development. We use it to serve data about South Asian organizations and events. We also use it to run tasks such as sending emails and tweeting from the bulletin board.</p>
    </li>
    <li>
      <h4>Ember.js</h4>
      <p><a href="//emberjs.com" target="_blank">Ember</a> is a client side Javascript framework that uses the Handlebars templating language. It's major strengths are data bindings that let us update views without having to refresh the page and the Ember Data library that allows us to make asynchronous calls to the Rails API.</p>
    </li>
    <li>
      <h4>Git && Github</h4>
      <p><a href="//git-scm.org" target="_blank">Git</a> is a version control system that allows us to systematically make changes to our codebase and keep track of its history. Github makes it easy for others to contribute to the codebase. Both are widely used in open source software.</p>
    </li>
    <li>
      <h4>Heroku</h4>
      <p><a href="//heroku.com" target="_blank">Heroku</a> allows us to deploy our codebase via git. It removes the pain of setting up servers and manually installing libraries and environments.</p>
    </li>
  </ol>
</div>