<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  <ul>
    <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
    <li>{{#linkTo news}}News{{/linkTo}}</li>
    <li>{{#linkTo radio}}Radio{{/linkTo}}</li>
    <li>{{#linkTo about}}About{{/linkTo}}</li>
    <li>{{#linkTo directory}}Directory{{/linkTo}}</li>
  </ul>

  <ul class="account">
  {{#if currentUser}}
    <li>{{#linkTo 'users.me'}}<img {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}</li>
    {{#if currentUser}}<li><a {{action logout}}>Sign out</a></li>{{/if}}
  {{else}}
    <li>{{#linkTo 'login'}}Log in{{/linkTo}}</li>
  {{/if}}
  </ul>
</nav>