<h1 {{action goHome}}><span>College</span>Desis</h1>
<div class="subtitle">Connecting all the South Asian student organizations in America</div>
<nav>
  <ul>
    <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
    <li>{{#linkTo bulletins.index}}News{{/linkTo}}</li>
    <li>{{#linkTo radio}}Radio{{/linkTo}}</li>
    <li>{{#linkTo about}}About{{/linkTo}}</li>
  </ul>
  <ul class="account">
    <li class="account">
      {{#if currentUser}}
        {{#linkTo 'users.show' currentUser }}<img {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}
      {{else}}
        {{#linkTo login}}Join the community{{/linkTo}}</li>
      {{/if}}
    </li>
    {{#if currentUser}}<a {{action logout}}>Sign out</a></li>{{/if}}
  </ul>
</nav>