<aside>
  <h3>About</h3>
  <ul class="sub-nav">
    <li>{{#linkTo 'about.quick-start'}}Quick Start{{/linkTo}}</li>
    <li>{{#linkTo 'about.represent'}}Represent Your Organization/Team{{/linkTo}}</li>
    <li>{{#linkTo 'about.news'}}News Board FAQ{{/linkTo}}</li>
    <li><a href="/#/d/collegedesis">Our Team, Contact, & Mission</a></li>
  </ul>
  {{#unless currentUser}}
    <div class="cta">{{#linkTo 'users.new'}}Join{{/linkTo}}</div>
  {{/unless}}
</aside>
<div class="main">
  {{outlet}}
</div>