<aside>
  <h3>About</h3>
  <ul class="sub-nav">
    <li>{{#linkTo 'about.intro'}}About Us{{/linkTo}}</li>
    <li>{{#linkTo 'about.website'}}About This Website{{/linkTo}}</li>
    <li>{{#linkTo 'about.goals'}}Summer Goals{{/linkTo}}</li>
    <li>{{#linkTo 'about.contact'}}Contact{{/linkTo}}</li>
  </ul>
</aside>
{{outlet}}