<div class="main">
  <p>Our mission at CollegeDesis is to help South Asian organizations around the country be more awesome than they already are. We:
    <ol>
      <li>help organizations discover each other,</li>
      <li>help share their expertise,</li>
      <li>help them with fundraising for and promoting events</li>
    </ol>
  </p>
  <p>Notable projects so far include the <a href="//itunes.apple.com/us/album/best-of-south-asian-a-cappella/id609757272">Best of CollegeDesis A Cappella</a> album and the <a href="https://collegedesis.com/#/bulletins/solidarity-against-injustice-a-south-asian-greek-collaboration">Solidarity Against Injustice</a> campaign with South Asian Greeks.</p>
  <p>We are attempting to build the infrastructure that supports and celebrates our diversity as South Asians and at the same time, educates America of it. Our goal is not to exclude anyone who is not South Asian by heritage so we focus on South Asian affiliated organizations. Most of these {{#unless currentUser}}<a href="#/signup">welcome anyone</a>{{else}}welcome anyone{{/unless}} to join.</p>
</div>