<aside>
  <h3>About</h3>
  <ul class="sub-nav">
    <li>{{#linkTo 'about.intro'}}About Us{{/linkTo}}</li>
    <li>{{#linkTo 'about.contact'}}Contact{{/linkTo}}</li>
  </ul>
  <h3>Get Involved</h3>
  <ul class="sub-nav">
    <li>{{#linkTo 'about.website'}}Programming{{/linkTo}}</li>
    <li>{{#linkTo 'about.goals'}}Summer Goals{{/linkTo}}</li>
  </ul>
</aside>
<div class="main">
  {{outlet}}
</div>