<div class="home-content">
<div class="index left">
  <ul class="sub-nav">
    {{#linkTo 'about.quick-start' tagName='li'}}Quick Start{{/linkTo}}
    {{#linkTo 'about.represent' tagName='li'}}Represent Your Organization/Team{{/linkTo}}
    {{#linkTo 'about.news' tagName='li'}}News Board FAQ{{/linkTo}}
    <li><a href="/#/d/collegedesis">Our Team, Contact, & Mission</a></li>
  </ul>
  {{#unless currentUser}}
    <div class="cta">{{#linkTo 'users.new'}}Join{{/linkTo}}</div>
  {{/unless}}
</div>
<div class="main-inside-container left">
  {{outlet}}
</div>
</div>