<div class="main">
  <h3>Success!</h3>
  <p>{{user.full_name}}'s application to be {{membership_type_name}} on {{#linkTo 'd.show' organization}}{{organization.name}}{{/linkTo}} was {{status}}.</p>

  <p>{{#linkTo 'index'}}Go home{{/linkTo}}</p>
</div>