<div class="app-header">
  <h1><span>College</span>Desis</h1>
  <div class="subtitle">
    Connecting all the #brownkids in America
  </div>
</div>
<div style="overflow:hidden;" class="app-nav">
  <ul>
    <li> {{#linkTo index}}Home{{/linkTo}}</li>
    <li> {{#linkTo bulletins}} Bulletins {{/linkTo}}</li>
    <li> {{#linkTo store}} Store {{/linkTo}}</li>
    {{#if currentUser}}
      <li> <a {{action logout}}>Sign Out</a></li>
    {{else}}
      <li>{{#linkTo login}}Log in/ Sign up{{/linkTo}}</li>
    {{/if}}
  </ul>
  {{#if currentUser}}
    <ul class="account">
      <li>
        {{#linkTo 'users.show' currentUser }}<img {{bindAttr src="currentUser.avatar_url"}} />Account{{/linkTo}}
      </li>
    </ul>
  {{/if}}
</div>
<div class="app-content">
  {{outlet}}
</div>
<div class="app-footer">
</div>