<div class="app-header">
  <h1><span>College</span>Desis</h1>
  <div class="subtitle">
    Connecting all the #brownkids in America
  </div>
</div>
<div class="app-nav">
  <ul>
    <li> {{#linkTo home}}Home{{/linkTo}}</li>
    <li> {{#linkTo bulletins}} Bulletins {{/linkTo}}</li>
    <li> {{#linkTo store}} Store {{/linkTo}}</li>
    <!--
    <li> {{#linkTo calendar}} Calendar {{/linkTo}}</li>
    
    <li> {{#linkTo takeAction}}Take Action{{/linkTo}}</li>
    -->
</div>
<div class="app-content">
  {{outlet}}
</div>
<div class="app-footer">
</div>