<div class="main">
  <div class="bulletin">
    <div class="title">
      {{title}}
    </div> 
    <div class="body">
      {{body}}
    </div>
  </div>
</div>
<aside>
  <h4>Stats</h4>
  <p>
    We'll build in like button or something here. 
  </p>
  <p>
    {{#linkTo bulletins}}
      &larr; Back
    {{/linkTo}}
  </p>
  <!-- <p>
    {{#linkTo newBulletin}}
      Write a Bulletin
    {{/linkTo}}
  </p> -->
</aside>