<div class="attn-wrapper">
  <attn>&nbsp;<h3>{{numOfOrganizations}}</h3>organizations</attn><attn>at <h3>{{numOfUniversities}}</h3>universities</attn><attn>in <h3>{{numOfStates}}</h3>states</attn>
</div>
<p class="center">
  Our mission is to organize this community by creating tools to help them connect, collaborate and share. We belive that by organizing this community we can create large scale impact.
</p>
<div class="cta">
  {{#linkTo 'users.new'}}Join{{/linkTo}}
</div>
<p class="center">
  {{#linkTo 'about'}}Learn more{{/linkTo}}
</p>