<div class="attn-wrapper">
  <attn>&nbsp;<h3>{{numOfOrganizations}}</h3>organizations</attn><attn>at <h3>{{numOfUniversities}}</h3>universities</attn><attn>in <h3>{{numOfStates}}</h3>states</attn>
</div>
<p class="center">
  We make tools to help South Asian organizations connect, collaborate and share.
</p>
<p class="center">
  We belive that a strong and robust community is the key to making the world a better place.
</p>
<div class="cta">
  {{#linkTo 'users.new'}}Join{{/linkTo}}
</div>
<p class="center">
  {{#linkTo 'about'}}Learn more{{/linkTo}}
</p>