<div class="main">
  {{App.session.messages}}
  <form>
    Email {{input type=text value=session.email}}
    Password {{input type=password value=session.password}}
    <div class="cta" {{action submit}}>Log in</div>
  </form>
  Or {{#linkTo users.new}}Sign Up{{/linkTo}}
</div>