<div class="main">
  {{App.session.messages}}
  <form>
    Email {{input type=text value=session.email}}
    Password {{input type=password value=session.password}}
    <button {{action submit}}>Log in</button>
    </form>
  Or {{#linkTo users.new}}Sign Up{{/linkTo}}
</div>