<div class="main">
  {{App.session.messages}}
  {{#formFor session}}
    {{input email}}
    {{input password}}
    {{submit "Log in"}}
  {{/formFor}}
  Or {{#linkTo users.new}}Sign Up{{/linkTo}}
</div>