<aside {{bindAttr class="controllers.bulletinsIndex.loading"}}>
  <h3>{{#linkTo 'news'}}News{{/linkTo}}</h3>
  {{view App.ListView contentBinding="controllers.bulletinsIndex" numBinding="controllers.bulletinsIndex.length"}}
</aside>
<div class="main">
  {{outlet}}
</div>