<div class="main">
  <div id="party">
    {{#unless readyToPlay}}
      Loading...
    {{/unless}}
  </div>
</div>
<aside>
  {{#if readyToPlay}}
  <h3>Dance / Mashup Radio</h3>
  <h5>No pause button. Oops.</h5>
  <button {{action nextSong}}>Next Song</button>
  {{/if}}
</aside>