<div class="main">
  <p>
    We're working on a marketplace that will help organizations and event management teams fundraise for awesome events.
  </p>
  <p>
    In December, we releasd a Best of CollegeDesis A Cappella album. It used to be sold here, but now it's on iTunes. 
  </p>
  <p>
    Check out <a href="https://soundcloud.com/collegedesis/sets/collegedesis-a-cappella">samples</a> and buy the <!--need link -->album here. Proceeds from this album will be used to sponsor showcases and competitions.
  </p>
</div>