<div class="main">
  <p>
    We're working on a marketplace that will help organizations and event management teams fundraise for awesome events.
  </p>
  <p>
    In December, we releasd a Best of CollegeDesis A Cappella album. It used to be sold here, but now it's <a target="_blank" href="//itunes.apple.com/us/album/best-of-south-asian-a-cappella/id609757272">on iTunes</a>.
  </p>
  <p>
    Check out <a target="_blank" href="https://soundcloud.com/collegedesis/sets/collegedesis-a-cappella">samples</a> and <a target="_blank" href="http://itunes.apple.com/us/album/best-of-south-asian-a-cappella/id609757272">buy the album</a>. Proceeds from this album will be used to sponsor showcases and competitions.
  </p>
</div>