<p>
  The store is down for maintenance. If you're looking to purchase the Best of CollegeDesis A Cappella CD, send us an email at <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a>.
</p>
<p>
  In the meantime, listen to these samples!
</p>
<section>
  <iframe width="50%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2813884&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</section>

