<p>
  Username: {{view Ember.TextField type="email"}}
</p>
<p>
  Password: {{view Ember.TextField type="password"}}
</p>
<p>
  Just trolling, we haven't built this in yet. Go {{#linkTo home}}back to home{{/linkTo}}.
</p>