@import url('//fonts.googleapis.com/css?family=Port+Lligat+Slab');
@import url('//fonts.googleapis.com/css?family=Noto+Sans');
@import url('//fonts.googleapis.com/css?family=Snippet');

$green: #A0CC6F;
$shadow-green: #88ae5f;
$brown2: #B2AE73;
$brown3: #40210D;
$brown4: #4C4440;
$link-color: #08C;
$background: #F5F5DC;
$red: red;
$darkred: darken(red, 15%);
$lightred: darken(red, 10%);

$logo-font: 'Port Lligat Slab', serif;
$header-font: 'Snippet', sans-serif;
$font: 'Noto Sans', sans-serif;
$font-size:16px;

$col: 42px;

@mixin subnav {
  & > * {
    display: block;
    box-shadow: 0 0 3px 0px $green;
    padding: 3px;
    cursor: pointer;
    &.active {
      background-color: transparentize($green, 0.6%);
    }
  }
}

@mixin heading {
  color: $brown2;
  font-family: $header-font;
}

@mixin greenify {
  box-shadow: 0 0px 0 1px $shadow-green;
  background-color: $green;
  padding: 5px 10px;
  color: white;
}

@mixin loader($min-height) {
  background: url("spinner.gif") no-repeat center center;
  height: $min-height;
  & > * { display: none !important;}
}

@mixin score($size) {
  width: $size;
  height: $size;
  line-height: $size;
  color: lighten($brown4, 60%);
  font-size: $size / 3;
  text-align: center;
  border-radius: 50%;
  background: $brown4;
}

@mixin red {
  background-image: -moz-linear-gradient(top, $red, $darkred);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($red), to($darkred));
  background-image: -webkit-linear-gradient(top, $red, $darkred);
  background-image: -o-linear-gradient(top, $red, $darkred);
  background-image: linear-gradient(to bottom, $red, $darkred);
  box-shadow: 0 2px 0 1px $darkred;
  border-radius: 5px;
}
@mixin redhover {
  background-image: -moz-linear-gradient(top, $red, $lightred);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($red), to($lightred));
  background-image: -webkit-linear-gradient(top, $red, $lightred);
  background-image: -o-linear-gradient(top, $red, $lightred);
  background-image: linear-gradient(to bottom, $red, $lightred);
  box-shadow: 0 2px 0 1px $lightred;
  border-radius: 5px;
}