#app .is-updating {
  background: url("/assets/spinner.gif") no-repeat center center;
  & > * { display: none !important;}
  width:100% !important;
  height:500px !important;
}

.app-header {
  text-align:center;
  color:$brown3;
  margin-bottom:20px;
  h1, a {
    font-family: $header-font;
    font-size:$font-size * 7;
    line-height:$font-size *7 *1.1;
    font-weight:bold;
    span { color: $brown2; }
  }
  .subtitle {
    font-size:$font-size;
    font-family:Helvetica;
    font-weight:600;
  }
}
.app-nav {
  margin-bottom: 10px;
  border-bottom:solid 3px transparentize($brown2, 0.5);
  li { 
    height:30px;
    display: inline-block;
    cursor: pointer;
    padding:5px;
    box-sizing:padding-box;
    margin: 0 5px;
    a { color: $brown4; }
    &:first-child{ margin-left:0; padding-left: 0;}
    &:hover{ border-bottom:solid 3px $brown2; }
  }
}
.app-content {
  display: -webkit-box;
  display:-moz-box;
  display:box;
  .main {
    width:70%;
    padding-right: 10px;
    min-width:600px;
  }
  aside {
    width:30%;
    padding:0 20px;
  }
  h4 {
    margin-bottom:10px;
    font-size:$font-size*1.2;
  }
  p {
    line-height:$font-size*1.25;
  }
}

.main {
  .label {
    color: $brown3;
    font-weight:bold;
    margin-bottom:10px;
  }
}

input, textarea, select {
  padding:5px;
  box-sizing:border-box;
  font-size:$font-size * 1.1;
  margin-bottom:10px;
  display: block;
  width: 500px;
}
input, textarea {
  background-color:transparentize($brown2, 0.9);
}

input[type='submit'] {
  cursor: pointer;
  width: 200px;
  margin: 10px 0;
  display: block;
  border: 1px solid $brown2;
}