@import '_imports';

p {
  margin-bottom:10px;
  line-height: $font-size*1.25;
  &.center {
    text-align: center;
    width: 80%;
    margin: 0 auto 10px;
  }
}

ul li { list-style-type: none; }

body {
  width: $col * 23;
  margin: 0 auto;
  background-color: $background;
}

/* Typography */
body {
  font-size:$font-size;
  font-family: $font;
  color: $brown4;
  a {
    text-decoration:none;
    color: $link-color;
    cursor:pointer;
  }
}

.app-header {
  position: fixed;
  height: 140px;
  width: 966px;
  z-index: 999;
  background-color: $background;
  h1 {
    cursor: pointer;
    text-align:center;
    color: $brown3;
    font-family: $logo-font;
    font-size: $font-size * 3.75;
    line-height: $font-size * 3.75 * 1.1;
    font-weight: bold;
    span { color: $brown2; }
  }
  .subtitle {
    text-align:center;
    font-size:$font-size * 0.75;
    font-family:$header-font;
  }
}

.app-content {
  padding: 0 0 3px 3px;
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 80px;
  aside {
    position: fixed;
    width: $col * 8;
    margin-bottom: 20px;
    float: left;
  }
  .main {
    margin-left: $col * 8;
    width: $col * 14;
    float: left;
    padding: 0 20px;
  }
}

.main.loading {
  @include loader(500px);
}

.info.loading {
  @include loader(200px);
}

input, textarea, select {
  width: 500px;
}
input, textarea {
  &:focus {
    box-shadow: 0 0 5px $green;
    outline: none;
  }
}
input, textarea, select, button {
  padding:5px;
  box-sizing:border-box;
  font-size:$font-size * 1.1;
  margin-bottom:10px;
  display: block;
}
input, textarea, button {
  background-color: transparentize($brown2, 0.9);
}

input[type='submit'], button {
  cursor: pointer;
  max-width: 200px;
  margin: 10px 0;
  display: block;
  border: 1px solid $brown2;
  &[disabled] {}
}

h1 { font-size: $font-size * 1.4; }
h2 { font-size: $font-size * 1.3; }
h3 { font-size: $font-size * 1.2; }
h4 { font-size: $font-size * 1.1; }
h5 { font-size: $font-size * 0.9; }

h1, h2, h3, h4, h5 {
  margin-bottom: 10px;
}

h3, h4, h5, span.heading {
  vertical-align: bottom;
  @include heading;
}

.footer {
  border-top: solid 1px $green;
  position: fixed;
  bottom: 0;
  background-color: $background;
  width: $col * 23;
  padding: 10px 0 20px;
  height: 70px;
  text-align: center;
  font-size: $font-size * 0.9;
  .footer-nav li {
    margin-right: 10px;
    display: inline-block;
    color: $link-color;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
}

.error {
  color: red;
  font-size: $font-size * 0.7;
}

.attn-wrapper {
  margin: 0 auto 20px;
  max-width: 840px;
  attn {
    h3 {
      color: white;
      font-size: $font-size * 5;
    }
    @include greenify;
    border-radius: 5px;
    color: $brown4;
    height: 200px;
    width: 30%;
    min-width: 270px;
    margin: 0 auto 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
  }
}
.cta.join {
  width: 160px;
  height: 50px;
  line-height: 40px;
  font-size: $font-size * 1.5;
  margin: 20px auto;
  display: block;
}

.cta {
  @include red;
  padding: 5px 10px;
  max-width: 125px;
  text-align: center;
  color: white !important;
  cursor: pointer;
  margin: 10px 0;
  border: 0;
  display: inline-block;
  &:hover { @include redhover; }
  a {
    display: block;
    color: white !important;
    width: 100%;
    height: 100%;
  }
  &[disabled=disabled] {
    &:hover {
      @include red;
      cursor: auto;
    }
  }
}

form h4 { color: $brown4; }

form.user-signup-form {
  .row {
    height: 60px;
    padding: 5px 0;
    margin-bottom: 5px;
    & > * {
      display: inline-block;
    }
  }
  .row input {
    width: 300px;
    margin-bottom: 0;
  }
  .row .header {
    @include heading;
    vertical-align: top;
    width: 100px;
    margin-right: 10px;
  }
}

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}