@import '_imports';

p { margin-bottom:10px; }

ul li { list-style-type:none; }

/* Backgrounds and Default Styles */
body {
  background-color:darken($background, 7%);
  background-image: -webkit-radial-gradient(center center, circle cover, $background, darken($background, 7%));
  background-image: -moz-radial-gradient(center center, circle cover, $background, darken($background, 7%));
  -webkit-box-shadow: 0 0 5px 1px lighten($background, 5%);
  -moz-box-shadow: 0 0 5px 1px lighten($background, 5%);
}

html {
  background-color:$brown3;
  background-image: -webkit-radial-gradient(top left, circle cover, $brown3, darken($brown3, 7%));
  background-image: -moz-radial-gradient(top left, circle cover, $brown3, darken($brown3, 7%));
}

/* Typography */

body {
  font-size:$font-size;
  font-family: $font;
  color: $brown4;
  a, a:hover, a:visited {
    text-decoration:none;
    color: $link-color;
    cursor:pointer;
  }
}

.app-header {
  h1 {
    cursor: pointer;
    text-align:center;
    color:$brown3;
    font-family: $logo-font;
    font-size:$font-size * 3.75;
    line-height:$font-size * 3.75 *1.1;
    font-weight:bold;
    span { color: $brown2; }
  }
  .subtitle {
    text-align:center;
    font-size:$font-size * 0.75;
    font-family:$header-font;
  }
  .app-nav {
    height: 52px;
    margin-top: 6px;
  }

}

.app-content {
  padding: 20px;
  aside {
    width: 300px;
    float: right;
  }
  .main {
    width: 600px;
  }
  h4 {
    margin-bottom:10px;
    font-size:$font-size*1.2;
  }
  p { line-height:$font-size*1.25; }
}

.main.loading {
  background: url("spinner.gif") no-repeat center center;
  & > * { display: none !important;}
  height:500px !important;
}

input, textarea, select {
  width: 500px;
}
input, textarea, select, button {
  padding:5px;
  box-sizing:border-box;
  font-size:$font-size * 1.1;
  margin-bottom:10px;
  display: block;
}
input, textarea, button {
  background-color:transparentize($brown2, 0.9);
}

input[type='submit'], button {
  cursor: pointer;
  max-width: 200px;
  margin: 10px 0;
  display: block;
  border: 1px solid $brown2;
}

@mixin heading {
  color: $brown2;
  font-family: $header-font;
}

h4, h5, span.heading {
  vertical-align: bottom;
  @include heading
}


#footer {
  padding: 10px 0 20px;
  min-height: 50px;
  text-align: center;
  font-size: $font-size * 0.9;
  .footer-nav li {
    margin-right: 10px;
    display: inline-block;
    color: $link-color;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
}