@import '_imports';

aside {
  background-color: $background;
  &.news  { border-bottom: solid 1px transparentize($green, 0.3); }
  input   { width: 100%; }
  ol      { margin-left: 23px; }
  select  { width: 100%; margin-top: 10px;}
}

aside h3 {
  @include greenify;
  margin-bottom: 0px;
  a {
    display: inline-block;
    color: white;
    width: 100%;
  }
}

aside table {
  margin-bottom: 20px;
  tr {
    td {
      font-size: $font-size * 0.9;
      padding: 3px;
      &.heading {
        @include heading;
        margin-bottom: 10px;
      }
    }
  }
}