@import '_imports';

aside {
  padding: 0 10px 0 30px;
  margin: 0 auto;
  button {
    cursor: pointer;
    max-width: 200px;
    margin: 10px 0;
    display: block;
    border: 1px solid #b2ae73;
    font-size: 20px;
    background-color: transparentize($brown2, 0.9);
  }
  h1 {
    margin-bottom: 10px;
  }
  select {
    width: 200px;
  }
  hr {
    border: solid 1px $brown2;
    margin-bottom: 10px;
  }
}

aside h3 {
  background-color: $green;
  @include greenify;
}

aside ol {
  margin-left: 23px;
}

aside table {
  margin-bottom: 20px;
  tr {
    td {
      font-size: $font-size * 0.9;
      padding: 3px;
      &.heading {
        @include heading;
        margin-bottom: 10px;
      }
    }
  }
}