@import '_imports';

aside {
  padding: 0 10px 0 30px;
  margin: 0 auto;
  button {
    cursor: pointer;
    max-width: 200px;
    margin: 10px 0;
    display: block;
    border: 1px solid #b2ae73;
    font-size: 20px;
    background-color: transparentize($brown2, 0.9);
  }
  h1 {
    margin-bottom: 10px;
  }
  select {
    width: 200px;
  }
  hr {
    border: solid 1px $brown2;
    margin-bottom: 10px;
  }
}