// list of bulletins
.bulletin-wrapper {
  border-bottom: solid 3px $brown2;
  background-color:lighten($brown2, 10%);
  padding: 0 5px;
  cursor: pointer;
  &:hover {background-color: $brown2;}
  & > * {
    line-height: 28px;
    display: inline-block;
    padding: 5px 0;
  }
  .vote {
    float: right;
    height: 28px;
    width: 28px;
    & > * {
      height: 28px;
      width: 28px;
      line-height: 28px;
    }
    a {
      display: block;
      background: url('upvote.png') no-repeat center;
      background-size: 90%;
    }
    h3 {
      color: lighten($brown4, 60%);
      font-size: $font-size * 0.9;
      margin: 0px auto;
      border-radius: 50%;
      background: $brown4;
      text-align: center;
    }
  }
  .subtext {
    width: 75px;
    font-size: $font-size * 0.7;
    margin-left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
      color: lighten($brown4, 10%);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .bulletin-preview {
    & > * {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 10px;
    }
    .title {
      width: 450px;
      color: $brown3;
      font-weight:500;
    }
  }
}

.bulletin {
  .bulletin-head, .bulletin-body, .bulletin-comments {
    margin-bottom: 20px;
  }
  .bulletin-body {
    padding: 20px 0;
    border-bottom: dotted 1px $brown2;
  }
}
// Bulletin show page and preview
.bulletin, .bulletin-new .preview {
  .bulletin-header {
    border-bottom: dotted 1px $brown2;
    padding-bottom: 10px;
    h1 { padding-bottom: 10px; }
    span.date { color: $brown2; }
  }
  .bulletin-body {
    p {
      width: auto;
      max-width: 600px;
    }
    img {
      max-width: 100%;
    }
    iframe {
      width: 100%;
      height: 350px;
    }
    & > * {
      margin-bottom: 10px;
    }
    ol, ul {
      margin-left: 40px;
    }
  }
}

.bulletin-new {
  textarea { min-height: 200px;}
  ol, ul {
    margin-left: 40px;
  }
  & > * {
    margin-bottom: 10px;
  }
}

aside .vote-count {
  color: lighten($brown4, 60%);
  border-radius: 50%;
  background: $brown4;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
}
aside .vote {
  margin: 0 auto;
  text-align: center;
  min-width: 100px;
  a {
    margin: 0 auto;
    cursor: pointer;
    background: url('upvote.png');
    background-size: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
  }
  h3  {
    color: lighten($brown4, 60%);
    line-height: 100px;
    font-size: $font-size * 2.4;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: $brown4;
    height: 100px;
    width: 100px;
  }
  h4 {
    font-size: $font-size * 1;
  }
}

.bulletin-comments {
  h3 {margin-bottom: 10px;}
  .new-comment {
    & > * {
      display:inline-block;
      vertical-align: top;
    }
    textarea {
      width: 500px;
      height: 75px;
      margin-right: 10px;
    }
    button {
      margin-top: 0;
      width: 100px;
    }
  }
}