@import '_imports';

.page-nav {
  margin-top: 10px;
  & > button {
    display: inline-block;
    margin-right:10px;
  }
}
.bulletin-header {
  margin-bottom: 24px;
  text-align: center;
}

// This is being used for the element that toggles post/link style bulletins
.options {
  margin-bottom: 15px;
  a { border-bottom:solid 3px $brown2; }
}

.bulletin-comments {
  p { font-size: $font-size * 0.8;}
  textarea {
    width: 100%;
    height: 50px;
    margin-right: 10px;
    font-size: $font-size * 0.8;
  }
  button {
    font-size: $font-size * 0.8;
    width: auto;
  }
}

.bulletin-info, .vote {
  margin: 0 auto;
  vertical-align: top;
}

.bulletin-header .vote {
  margin-bottom: 10px;
}
.bulletin-info {
  padding: 0 30px;
}
.bulletin-info h3 {
  color: $brown4;
}

.bulletin-header .vote {
  width: 58px;
  .bulletin-voted {
    width: 58px;
    height: 58px;
    line-height: 58px;
    color: lighten($brown4, 60%);
    font-size: $font-size * 1.3;
    text-align: center;
    border-radius: 50%;
    background: $brown4;
  }
  .bulletin-vote {
    a {
      cursor: pointer;
      width: 58px;
      height: 58px;
      background: url('upvote.png') no-repeat center;
      background-size: 75%;
      display: block;
    }
    h3 {
      font-size: $font-size * 0.7;
      text-align: center;
    }
  }
}

// Bulletin show page and preview
.bulletin, .bulletin-new .preview {
  .bulletin-body {
    & > * { margin: 0 auto; }
    pre {
      background-color: #bababa;
      padding: 5px;
      color: white;
      width: 400px;
      overflow: scroll;
    }
    hr {
      border-bottom: solid 1px $brown2;
    }
    p {
      max-width: 500px;
      line-height: $font-size * 1.5;
      margin-bottom: $font-size * 1.5;
    }
    img {
      max-width: 95%;
      box-shadow: 0px 0px 3px #aaa;
      display: block;
      margin: 0 auto 10px;
    }
    iframe {
      width: 100%;
      height: 350px;
    }
    & > * {
      margin-bottom: 10px;
    }
    ol, ul {
      margin-left: 40px;
    }
    ul li {
      list-style-type: square;
    }
    blockquote {
      margin-left: 30px;
      border-left:solid 3px transparentize($brown2, 0.5);
      padding: 0 10px;
      font-style: italic;
      max-width: 500px;
    }
  }
}