@import '_imports';

// list of bulletins
.bulletin-wrapper {
  &.loading {
    background: url('spinner.gif') no-repeat center left;
    & > .subtext { visibility: hidden;}
  }
  height: 40px;
  border-bottom: solid 1px $brown2;
  padding: 0 5px;
  cursor: pointer;
  width: 585px;
  &:hover {background-color: transparentize($brown2, 0.5);}
  & > * {
    line-height: 28px;
    display: inline-block;
    padding: 5px 0;
    vertical-align: middle;
  }
  // text overflow
  .subtext, .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  // width
  .subtext { width: 75px; }
  .title { width: 450px; }
  .vote { width: 28px; }

  // fonts
  .subtext a {
    font-size: $font-size * 0.7;
    color: lighten($brown4, 10%);
    &:hover {text-decoration: underline;}
  }

  .title {
    color: $brown3;
    text-transform: capitalize;
  }

  .vote {
    float: right;
    & > * {
      height: 28px;
      width: 28px;
      line-height: 28px;
    }
    a {
      display: block;
      background: url('upvote.png') no-repeat center;
      background-size: 90%;
    }
    h3 {
      color: lighten($brown4, 60%);
      font-size: $font-size * 0.9;
      margin: 0px auto;
      border-radius: 50%;
      background: $brown4;
      text-align: center;
    }
  }
}

.bulletin {
  .bulletin-head, .bulletin-body, .bulletin-comments {
    margin-bottom: 20px;
  }
}


.bulletin-new {
  textarea { min-height: 200px;}
  ol, ul {
    margin-left: 40px;
  }
  & > * {
    margin-bottom: 10px;
  }
}
