.bulletin-wrapper .preview {
  margin-bottom: 10px;
  border-bottom: solid 3px $brown2;
  background-color:lighten($brown2, 10%);
  padding:10px;
  cursor: pointer;
}

.bulletin .preview {
  .title {
    color: $brown3;
    font-weight:bold;
    &:after {content:': ';}
  }
  .body {
    color:darken($brown2, 30%);
    font-size:$font-size*0.8;
  }
}

.bulletin-wrapper {
  button {
    cursor: pointer;
    background-color: transparentize($brown2, 0.9);
    margin: 10px 0;
    padding: 3px;
    font-size:14px;
    border: 1px solid #b2ae73;
  }
  & > * {display: inline-block;}
  .vote { width: 30px;}
  .bulletin { width: 600px;}
  a { color: $brown2 !important;}

}
.bulletin {
  .bulletin-header {
    border-bottom: dotted 1px $brown2;
    padding-bottom: 10px;
    h1 {
      padding-bottom: 10px;
    }
    span.date {
      color: $brown2;
    }
  }
  .bulletin-body {
    & > * {
      margin-bottom: 10px;
    }
    margin: 20px 0;
    min-height: 300px;
    width: 500px;
    ol, ul {
      margin-left: 40px;
    }
  }
}

.bulletin-new {
  textarea { min-height: 200px;}
}