.letters{
  width:$col * 20;
  .letter {
    width: $col * 20;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
    article {
      display:inline-block;
      padding:20px;
      width:$col * 13;
      background-color: transparentize($brown0, 0.5);
      font-size:$font-size;
      line-height: $font-size * 1.5;
      // box-shadow:0px 0px 5px $brown1;
      margin-bottom:20px;
      .letter-body {
        .date {
          border-bottom: dotted 1px;
        }
      }
      .letter-author {

      }
    }
    aside {
      width:($col * 6) - 3;
      text-align:center;
      float:right;
      height:100%;
      .letter-reactions {
        margin-top:20px;
        .votes {
          font-size:$font-size * 2.0;
          margin-bottom:20px;
          .approve {
            margin:0 auto 10px;
            background-image: url('vote.png');
            background-repeat:no-repeat;
            background-position: left top;
            cursor:pointer;
            width:80px;
            height:84px;
            border: 0px solid;
          }
        }
        .comments {
          font-size:$font-size * 0.8;
        }
      }
      .letter-new {
        text-align:center;
        width:100px;
        height:30px;
        line-height:30px;
        background-image:-moz-radial-gradient(center, ellipse closest-side, lighten($brown1, 10%), $brown1);
        background-image:-webkit-radial-gradient(center, ellipse closest-side, lighten($brown1, 10%), $brown1);
        border-radius:5px;
        padding:5px;
      }
    }
  }
}