@import '_imports';

.map-container {
  max-width: $col * 23;
  margin: 0 auto;
  min-height: 300px;
  text-align: center;
}

.map-container-small {
  max-width: $col * 14;
  width: 65%;
  min-height: 300px;
  text-align: center;
}

.index-right {
  max-width: $col * 9;
  width: 35%;
  float: right;
  padding-left: 10px;
}

#map {
  margin: 0 auto 20px;
  display: block;
}

.map-stats {
  margin: 30px auto 0;
  max-width: 700px;
}

.map-results {
  position: relative;
  padding: 0 5px;
  h2 {
    @include heading;
    padding: 5px;
    span.loading {
      @include loader(30px);
      text-indent: -9999px;
      display: inline-block;
      min-width: 30px;
    }
  }
  ul {
    margin-top: 30px;
    &.loading { @include loader(250px); }
    li {
      border-bottom: solid 1px $green;
      @include ellipsis;
      padding: 10px 5px;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 3px $green;
      }
    }
  }
}

.map-stats .stat-wrapper {
  display: inline-block;
  min-width: 150px;
  font-size: $font-size * 0.9;
  line-height: $font-size * 0.9 * 1.5;
  background-color: $green;
  padding: 5px;
  border-radius: 5px;
  color: $brown4;
  margin: 0 10px 10px auto;
  .stat {
    color: white;
    font-size: $font-size * 1.5;
    min-width: 50px;
    display: inline-block;
    &.loading {
      @include loader(50px);
      text-indent: -9999px;
    }
  }
}