@import '_imports';

#map {
  margin: 0 auto 20px;
  display: block;
}

.map-stats {
  margin: 30px auto 0;
  max-width: 700px;
}

.map-results {
  position: relative;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  h4 {
    @include heading;
    padding: 5px;
    &.loading {
      @include loader(30px);
      text-indent: -9999px;
      display: inline-block;
      min-width: 30px;
    }
  }
  ul {
    &.loading { @include loader(250px); }
    li {
      padding: 10px 5px;
      margin-left: 2px;
      margin-bottom: 0;
      cursor: pointer;
      font-size: $font-size * 0.9;
      &:hover {
        border-left: solid 2px $green;
        margin-left: 0;
      }
    }
  }
}

.map-stats .stat-wrapper {
  display: inline-block;
  min-width: 150px;
  font-size: $font-size * 0.9;
  line-height: $font-size * 0.9 * 1.5;
  background-color: $green;
  padding: 5px;
  border-radius: 5px;
  color: $brown4;
  margin: 0 10px 10px auto;
  .stat {
    color: white;
    font-size: $font-size * 1.5;
    min-width: 50px;
    display: inline-block;
    &.loading {
      @include loader(50px);
      text-indent: -9999px;
    }
  }
}