@import '_imports';

nav ul li:first-child {
  padding-left: 0 !important;
}

nav > * {
  display: inline-block;
  vertical-align: middle;
}

nav {
  max-width: $col * 23;
  width: 100%;
  background-color: #E4EECD; /* transparentize(lighten($green, 10%), 0.7); */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px $green;
  z-index: 999;
  h1.logo { margin-right: 20px; margin-bottom: 0; }
  ul {
    li {
      font-size: $font-size * 0.9;
      display: inline-block;
      margin-bottom: 0;
      a {
        display: inline-block;
        vertical-align: middle;
        color: $brown4;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ie-user-select: none;
        text-align: center;
        padding: 5px 10px;
        cursor: pointer;
        &.no-click { cursor: auto;
          &:hover { box-shadow: none; }
        }
      }
    }
    .active {
      font-weight: 800;
      background-color: transparentize($green, 0.7);
      border-bottom: solid 1px $green;
    }
  }
}

nav .account {
  float:right;
  img {
    height: 15px;
    margin-right: 5px;
  }
}

body .sub-nav {
  margin-bottom: 10px;
  &.no-link li {
    padding: 5px;
    cursor: auto;
  }
  li {
    @include subnav;
    display: block;
    min-height: 40px;
    cursor: pointer;
    margin-left: 2px;
    margin-bottom: 0;
    padding: 10px;
    &.active {
      border-left: 2px solid $green;
      margin-left: 0;
    }
  }
}