@import '_imports';

.app-nav {
  box-shadow: 0px 0px 12px 0px transparentize($brown2, 0.5) inset;
  border-bottom: solid 2px lighten($brown2, 20%);
  padding:8px 20px;
  ul {
    display: inline-block;
    li {
      display: inline-block;
      cursor: pointer;
      padding: 5px;
      box-sizing:padding-box;
      a {
        display: inline-block;
        padding: 0 3px;
      }
      a:hover {
        border-bottom:solid 2px $brown2;
      }
      a, a:visited, a:hover { color: $brown4; }
      .active { border-bottom:solid 2px $brown2; }
      &:first-child{ margin-left:0; padding-left: 0;}
    }
  }
}

.app-nav ul.account {
  float:right;
  li {
    border-bottom: none;
    padding-left:3px;
    img {
      height: 15px;
      margin-right: 5px;
    }
  }
}

.sub-nav {
  li {
    a {
      padding: 5px;
      display: block;
      border-radius: 5px;
      &, &:hover, &:visited {color: $brown4;}
    }
    .active {
      background-color: $brown2;
      &:hover{
        
      }
    }
    a:hover{
      
    }
  }
}