@import '_imports';

li:first-child {
  padding-left: 0 !important;
}

body nav {
  height: 52px;
  margin-top: 6px;
  padding:8px 20px;
  ul {
    li {
      display: inline-block;
    }
    a {
      display: block;
      min-width: 50px;
      text-align: center;
      height: 100%;
      padding: 5px;
      color: $brown4;
      &:hover { border-bottom:solid 1px $green; }
    }
    .active { border-bottom:solid 2px $green; }
  }
}

nav .account {
  float:right;
  img {
    height: 15px;
    margin-right: 5px;
  }
}

body .sub-nav a {
  color: $brown4;
}
.sub-nav {
  margin-bottom: 10px;
  li {
    a {
      font-family: $header-font;
      padding: 5px;
      display: block;
    }
    .active {
      border-left: 3px solid $green;
    }
  }
}