.app-nav {
  margin-bottom: 10px;
  border-bottom:solid 3px transparentize($brown2, 0.5);
  ul {
    display: inline-block;
    li {
      display: inline-block;
      cursor: pointer;
      padding: 5px;
      box-sizing:padding-box;
      a:hover { border-bottom:solid 3px $brown2; }
      a, a:visited, a:hover { color: $brown4; }
      .active { border-bottom:solid 3px $brown2; }
      &:first-child{ margin-left:0; padding-left: 0;}
    }
  }
}

.app-nav ul.account {
  float:right;
  li {
    background-color:transparentize($brown2, 0.9);
    border: 2px solid #b2ae73;
    border-bottom: none;
    padding-left:3px;
    a:hover { border-bottom: none;}
    img {
      height: 15px;
      margin-right: 5px;
    }
  }
}