@import '_imports';

.main .header {
  margin-bottom: 10px;
}
.main .members {
  li {
    display: inline-block;
    width: 49%;
    margin-bottom: 25px;
    img {
      width: 100px;
      display: block;
      float: left;
      margin-right: 15px
    }
  }
}

.reputation {
  margin: 0 auto;
  @include score(100px);
}