@import '_imports';

.memberships {
  margin-bottom: 10px;
  ul li {
    display: inline-block;
    width: 49%;
    img {
      float: left;
      margin-right: 15px;
      height: 40px;
    }
  }
}

.activity {
  li {
    a {
      width: 100%;
      display: block;
      @include ellipsis;
      color: $brown3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.editable {
  @include editable;
  width: 100%;
  min-height: 50px;
  padding: 5px 10px;
  font-size: $font-size * 0.9;
  background-color: transparentize($brown2, 0.7);
}

body .links {
  margin-bottom: 10px;
  a {
    color: #ccc;
    margin-right: 10px;
    &.link { color: $brown4; }
  }
}

.about {
  max-height: 200px;
  overflow: scroll;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  p {
    font-size: $font-size * 0.9;
    margin-bottom: $font-size * 0.9 * 1.30;
    line-height: $font-size * 0.9 * 1.30;
  }
}