@import '_imports';

.main .header {
  margin-bottom: 10px;
}
.main .members {
  li {
    display: inline-block;
    width: 49%;
    margin-bottom: 25px;
    img {
      width: 100px;
      display: block;
      float: left;
      margin-right: 15px
    }
  }
}

.editable {
  border-bottom: dotted 1px $brown2;
  background-color: transparentize($brown2, 0.7);
  display: inline-block;
  min-width: 50px;
  vertical-align: middle;
}

table.left-heading {
  tr td:first-child {
    @include heading;
    min-width: 100px;
    padding: 5px 10px 5px 0;
  }
}

div.editable {
  width: 100%;
  min-height: 50px;
  padding: 5px 10px;
  font-size: $font-size * 0.9;
}