@import '_imports';

.radio-info {
  text-align: center;
  margin: 0 auto 10px;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.radio-info .forward {
  margin: 0 auto;
  font-size: $font-size;
  margin-top: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: url('forward.svg') center no-repeat;
  background-size: 105%;
  cursor: pointer;
}

.radio-info h5 {
  text-align: left;
  span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }
}

.channel-loading {
  background: url('spinner.gif') center no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.channel-nav {
  width: 100%;
  margin-bottom: 10px;
  li {
    width: 33%;
    display: inline-block;
    text-align: center;
    a {
      margin: 0 auto;
      width: 50%;
      display: block;
      padding: 5px 0;
      border-radius: 5px;
      &, &:hover, &:visited {color: $brown4;}
    }
    .active {
      background-color: $brown2;
      &:hover{
        border-bottom: none;
        border-radius: 5px;
      }
    }
    a:hover{
      border-bottom:solid 2px $brown2;
      border-radius: 0;
    }
  }
}