@import '_imports';

.radio {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: transparentize($green, 0.3);
  text-align: center;
}

.radio-inner {
  background-color: transparentize(lighten($green, 10%), 0.3);
  max-width: 500px;
  margin: 0 auto;
  @include ellipsis;
  & > div  {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    margin: 5px;
  }
}

.radio .now-playing {
  max-width: 430px;
  width: 430px;
  @include ellipsis;
  &.loading { @include loader(30px); }
  line-height: 30px;
}

.radio #party * { display: none;}

.radio-controls {
  float:left;
  width: 70px;
}
.radio-icon {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
  cursor: pointer;
}

.forward { background-image: url('forward.svg'); }
.play { background-image: url('play.svg'); }
.pause { background-image: url('pause.svg'); }