@import '_imports';

@media only screen and (max-device-width: 600px) {
  body, p, .app-header, nav,
  .app-content, .app-content > *, .footer {
    width: 100%;
  }
  .attn-wrapper {
    width: 30%;
    attn { display: block; }
  }
  aside { display: none; }
  .app-content .main {
    margin-left: 0;
    max-width: 100%;
  }
}

/* iPhone < 5 Media Query */
@media screen and (device-aspect-ratio: 2/3) {
  body, p, .app-header, nav,
  .app-content, .app-content > *, .footer {
    width: 100%;
  }
  .attn-wrapper {
    width: 30%;
    attn { display: block; }
  }
  aside { display: none; }
  .app-content .main {
    margin-left: 0;
    max-width: 100%;
  }
}

/* iPhone 5 Media Query */
@media screen and (device-aspect-ratio: 40/71) {
  body, p, .app-header, nav,
  .app-content, .app-content > *, .footer {
    width: 100%;
  }
  .attn-wrapper {
    width: 30%;
    attn { display: block; }
  }
  aside { display: none; }
  .app-content .main {
    margin-left: 0;
    max-width: 100%;
  }
}

/* iPad 5 Media Query */
@media screen and (device-aspect-ratio: 3/4) {
  body, p, .app-header, nav,
  .app-content, .app-content > *, .footer {
    width: 100%;
  }
  .attn-wrapper {
    width: 30%;
    attn { display: block; }
  }
  aside { display: none; }
  .app-content .main {
    margin-left: 0;
    max-width: 100%;
  }
}