#store {
  width:$col * 20;
  display: -webkit-box; -webkit-box-align: stretch;
  display: -moz-box;    -moz-box-align:    stretch;
  #download { display:none; }
  section {
    -webkit-box-orient:vertical;    -moz-box-orient:vertical;
    display: -webkit-box;           display: -moz-box;
    -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;
    width:50%;
    height:550;
    &:first-child{ padding-right: 20px }
    &:last-child{ padding-left: 20px }
    p { line-height: $font-size * 1.5;}
  }

  select {
    width:140px;
    margin:10px 10px 10px 0 ;
    font-size: $font-size;
    display: inline-block;
    &#beneficiary_id {
      width:300px;
      display: block;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  input[type='text'] {
    padding:5px 20px;
    margin:10px 0;
    font-size: 16px;
    &.small {
      width:100px;
    }
  }

  #stripe_error {
    color:red;
    font-weight: bold;
  }

  .left {
    iframe {
      border: 5px solid lighten($brown2, 30%);
      box-shadow: 0 0 5px #B2AE73;
    }
  }
  .right {
    .description, .form {
      max-width: 450px;
      padding:10px;
      font-size:0.9em;
      line-height: 1.35em;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .description {
      background-image: -webkit-radial-gradient(center center, circle cover, $brown1, darken($brown1, 15%));
      background-image: -moz-radial-gradient(center center, circle cover, $brown1, darken($brown1, 15%));
      max-height:200px;
      overflow: auto;
      background-color: $brown2;
      border: 5px solid lighten($brown2, 30%);
      box-shadow: 0 0 5px #B2AE73;
    }
    .section {
      margin-bottom: 10px;
      &#action_area { display: none; }
      &#notice { display: none; }
      #loading {
        background-image: url('/assets/spinner.gif');
        width:30px;
        height:28px;
        background-repeat: no-repeat;
        vertical-align: bottom;
        display:none; // gets set with js
      }
    }

  }
}

#store .icon {
  img { width:100px; }  
  float:left;
  margin-right:10px;
}

#store #action_area {
  .field { margin-bottom: 10px; }
}
#store {
  .label, .footnote {font-size: $font-size * 0.8;}
  .label {
    font-weight: bold;
    background-color: lighten(#B2AE73, 10%);
    padding:5px;
  }
  .footnote { font-weight: 100;}
}
#store #stripe-form {
  margin-bottom: 10px;
  box-shadow: 0 0 5px #B2AE73;
  padding: 10px;
}