@import '_imports';

.profile-page {
  .control button {
    display: inline-block;
    margin-right: 10px;
  }
  .profile-head {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    & > * {
      display: inline-block;
      margin-bottom: 10px;
      vertical-align: bottom;
    }
  }
  img {
    margin-right: 10px;
    box-shadow: 0px 0px 6px #aaa;
  }

  h1 {
    // shame.css
    position: relative;
    bottom: -5px;
  }

  .memberships {
    li {
      background-color: transparentize($brown2, 0.8);
      padding: 5px 10px;
      &.loading { @include loader(55px); }
      & > a:hover, & > div:hover, select { cursor: pointer; }
      & > a:hover, & > div:hover { text-decoration: underline; }
      select { margin-bottom: 0;}
    }
  }
}