<div class="main profile-page">
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{this.content.full_name}}</h1>
  </div>
  <div class="info">
    <h3>Memberships</h3>
    <ul>
      {{#each this.content.memberships}}
        <li>- {{this.organization.name}} at {{this.organization.university.name}}</li>
        <li style="font-style:italic;font-size:10px;">- Ability to add memberships coming soon!</li>
      {{/each}}
    </ul>
  </div>
</div>