<!DOCTYPE html>
<html>
  <head>
    <title>CollegeDesis - connecting 600+ South Asian student organizations</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Snippet|Noto+Sans|Port+Lligat+Slab" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//connect.soundcloud.com/sdk.js", "//w.soundcloud.com/player/api.js" %>
    <meta property="og:image" content="https://collegedesis.com/assets/logo.png">
    <meta property="og:url" content="https://www.collegedesis.com">
    <meta property="og:description" content="We build tools to help South Asian student organizations connect, collaborate, and share.">
    <meta property="og:title" content="CollegeDesis">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag '/logo-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/logo-icon.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
    <script>
      App.session = Ember.Object.create();
    </script>
    <% if session[:user_id] %>
      <script>
        App.session.set("currentUserId", <%= session[:user_id] %> );
        App.session.set("currentUser", null )
      </script>
    <% end %>
    <% if session[:votedBulletinIds] %>
      <script>
        App.session.set("votedBulletinIds", <%= session[:votedBulletinIds] %> )
      </script>
    <% end %>
  </head>
  <body>
</html>