<!DOCTYPE html>
<html>
  <head>
    <title>CollegeDesis - Connect all the brown kids in America</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//connect.soundcloud.com/sdk.js", "//w.soundcloud.com/player/api.js" %>
    <meta property="og:image" content="https://collegedesis.com/assets/logo.png">
    <meta property="og:url" content="https://www.collegedesis.com">
    <meta property="og:description" content="Connecting all the brownkids in America">
    <meta property="og:title" content="CollegeDesis">
    <%= csrf_meta_tag %>
    <script>
      App.session = Ember.Object.create();
    </script>
    <% if session[:user_id] %>
      <script>
        App.session.set("currentUserId", <%= session[:user_id] %> );
        App.session.set("currentUser", null )
      </script>
    <% end %>
    <% if session[:votedBulletinIds] %>
      <script>
        App.session.set("votedBulletinIds", <%= session[:votedBulletinIds] %> )
      </script>
    <% end %>
  </head>
  <body></body>
</html>