<!DOCTYPE html>
<html>
  <head>
    <title>CollegeDesis - connecting 600+ South Asian student organizations</title>
    <%= stylesheet_link_tag "application" %>
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//connect.soundcloud.com/sdk.js", "//w.soundcloud.com/player/api.js" %>
    <meta property="og:image" content="https://collegedesis.com/assets/logo.png">
    <meta property="og:url" content="https://www.collegedesis.com">
    <meta property="og:description" content="Connecting all the brownkids in America">
    <meta property="og:title" content="CollegeDesis">
    <%= csrf_meta_tag %>
    <script>
      App.session = Ember.Object.create();
    </script>
    <% if session[:user_id] %>
      <script>
        App.session.set("currentUserId", <%= session[:user_id] %> );
        App.session.set("currentUser", null )
      </script>
    <% end %>
    <% if session[:votedBulletinIds] %>
      <script>
        App.session.set("votedBulletinIds", <%= session[:votedBulletinIds] %> )
      </script>
    <% end %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=241796575882202";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>